src/main/java/com/api/soap/client/wsdl/sapws.wsdl

<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
   <wsdl:documentation>
      <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
   </wsdl:documentation>
   <wsp:UsingPolicy wsdl:required="true"/>
   <wsp:Policy wsu:Id="BN__ZFM_IF_SD_DELIVERY_O2O">
      <wsp:ExactlyOne>
         <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedMimeSerialization wsp:Optional="true" xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
            <wsaw:UsingAddressing wsp:Optional="true" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
         </wsp:All>
         <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
            <wsaw:UsingAddressing wsp:Optional="true" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="BN__ZFM_IF_SD_DELIVERY_O2O_soap12">
      <wsp:ExactlyOne>
         <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedMimeSerialization wsp:Optional="true" xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
            <wsaw:UsingAddressing wsp:Optional="true" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
         </wsp:All>
         <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
            <wsaw:UsingAddressing wsp:Optional="true" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="IF__ZFM_IF_SD_DELIVERY_O2O">
      <wsp:ExactlyOne>
         <wsp:All>
            <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
               <sapsession:enableSession>false</sapsession:enableSession>
            </sapsession:Session>
            <sapcentraladmin:CentralAdministration wsp:Optional="true" xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/">
               <sapcentraladmin:BusinessApplicationID>005056888D471ED7A4DD15C0E64087A8</sapcentraladmin:BusinessApplicationID>
            </sapcentraladmin:CentralAdministration>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="OP__ZFM_IF_SD_DELIVERY_O2O">
      <wsp:ExactlyOne>
         <wsp:All>
            <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
            <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
            <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
            <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:types>
      <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
         <xsd:simpleType name="char10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char18">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="18"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char2">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char20">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="20"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char200">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="200"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char241">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="241"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char30">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char35">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="35"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char4">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char40">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char50">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="50"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char60">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="60"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="clnt3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="cuky5">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="5"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="curr11.2">
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="11"/>
               <xsd:fractionDigits value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="curr13.2">
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="13"/>
               <xsd:fractionDigits value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="date10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
               <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="numeric6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
               <xsd:pattern value="\d*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="quantum15.3">
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="15"/>
               <xsd:fractionDigits value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="string">
            <xsd:restriction base="xsd:string"/>
         </xsd:simpleType>
         <xsd:simpleType name="time">
            <xsd:restriction base="xsd:time">
               <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="unit3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ZSDS_ZIFTG00080">
            <xsd:sequence>
               <xsd:element name="BSTKD" type="tns:char35"/>
               <xsd:element name="KUNNR" type="tns:char10"/>
               <xsd:element name="ZZREORDSN" type="tns:char35"/>
               <xsd:element name="AUART" type="tns:char4"/>
               <xsd:element name="AUGRU" type="tns:char3"/>
               <xsd:element name="VKORG" type="tns:char4"/>
               <xsd:element name="VTWEG" type="tns:char2"/>
               <xsd:element name="ERDAT" type="tns:date10"/>
               <xsd:element name="ERZET" type="tns:time"/>
               <xsd:element name="ZZAGENT" type="tns:char20"/>
               <xsd:element name="ZZLYTYPE" type="tns:char4"/>
               <xsd:element name="ZZDEALCODE" type="tns:char50"/>
               <xsd:element name="BSTDK" type="tns:date10"/>
               <xsd:element name="ZZNICKNAME" type="tns:char60"/>
               <xsd:element name="WERKS" type="tns:char4"/>
               <xsd:element name="LGORT" type="tns:char4"/>
               <xsd:element name="ZZPAYNAME" type="tns:char20"/>
               <xsd:element name="ZZPAYCODE" type="tns:char20"/>
               <xsd:element name="ZZRECEIVER" type="tns:char30"/>
               <xsd:element name="ZZCOUNTRY" type="tns:char20"/>
               <xsd:element name="ZZPROVINCE" type="tns:char20"/>
               <xsd:element name="ZZCITY" type="tns:char20"/>
               <xsd:element name="ZZDISTRICT" type="tns:char20"/>
               <xsd:element name="ZZFULLADDR" type="tns:char200"/>
               <xsd:element name="ZZADDR" type="tns:char200"/>
               <xsd:element name="ZZPOSTAL" type="tns:char10"/>
               <xsd:element name="ZZTEL" type="tns:char30"/>
               <xsd:element name="ZZMOBIEL" type="tns:char30"/>
               <xsd:element name="ZZEMAIL" type="tns:char241"/>
               <xsd:element name="ZZCARRCODE" type="tns:char20"/>
               <xsd:element name="ZZCARRNAME" type="tns:char20"/>
               <xsd:element name="ZZSHIPCOST" type="tns:curr13.2"/>
               <xsd:element name="ZZCURRENCY" type="tns:cuky5"/>
               <xsd:element name="ZFLH1" type="tns:char40"/>
               <xsd:element name="ZFLH2" type="tns:char40"/>
               <xsd:element name="ZFLH3" type="tns:char40"/>
               <xsd:element name="ZFLH4" type="tns:char40"/>
               <xsd:element name="ZFLH5" type="tns:char40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZIFTG00080_D1">
            <xsd:sequence>
               <xsd:element name="MANDT" type="tns:clnt3"/>
               <xsd:element name="BSTKD" type="tns:char35"/>
               <xsd:element name="POSNR" type="tns:numeric6"/>
               <xsd:element name="MATNR" type="tns:char18"/>
               <xsd:element name="KWMENG" type="tns:quantum15.3"/>
               <xsd:element name="VRKME" type="tns:unit3"/>
               <xsd:element name="ZZPRICE" type="tns:curr11.2"/>
               <xsd:element name="ZZDISPRICE" type="tns:curr11.2"/>
               <xsd:element name="ZZCURRENCY" type="tns:cuky5"/>
               <xsd:element name="ZFLD1" type="tns:char40"/>
               <xsd:element name="ZFLD2" type="tns:char40"/>
               <xsd:element name="ZFLD3" type="tns:char40"/>
               <xsd:element name="ZFLD4" type="tns:char40"/>
               <xsd:element name="ZFLD5" type="tns:char40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZIFTG00080_D2">
            <xsd:sequence>
               <xsd:element name="MANDT" type="tns:clnt3"/>
               <xsd:element name="BSTKD" type="tns:char35"/>
               <xsd:element name="KSCHL" type="tns:char4"/>
               <xsd:element name="KBETR" type="tns:curr11.2"/>
               <xsd:element name="WAERS" type="tns:cuky5"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZIFTG00080_D1">
            <xsd:sequence>
               <xsd:element name="item" type="tns:ZIFTG00080_D1" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TABLE_OF_ZIFTG00080_D2">
            <xsd:sequence>
               <xsd:element name="item" type="tns:ZIFTG00080_D2" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="ZFM_IF_SD_DELIVERY_O2O">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IS_HEADER" type="tns:ZSDS_ZIFTG00080"/>
                  <xsd:element name="IT_ZIFTG00080_D1" type="tns:TABLE_OF_ZIFTG00080_D1"/>
                  <xsd:element name="IT_ZIFTG00080_D2" type="tns:TABLE_OF_ZIFTG00080_D2"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ZFM_IF_SD_DELIVERY_O2OResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_RETURN_DESC" type="tns:string"/>
                  <xsd:element name="E_RETURN_FLAG" type="tns:string"/>
                  <xsd:element name="IT_ZIFTG00080_D1" type="tns:TABLE_OF_ZIFTG00080_D1"/>
                  <xsd:element name="IT_ZIFTG00080_D2" type="tns:TABLE_OF_ZIFTG00080_D2"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ZFM_IF_SD_DELIVERY_O2O">
      <wsdl:part name="parameters" element="tns:ZFM_IF_SD_DELIVERY_O2O"/>
   </wsdl:message>
   <wsdl:message name="ZFM_IF_SD_DELIVERY_O2OResponse">
      <wsdl:part name="parameter" element="tns:ZFM_IF_SD_DELIVERY_O2OResponse"/>
   </wsdl:message>
   <wsdl:portType name="ZFM_IF_SD_DELIVERY_O2O">
      <wsdl:documentation>
         <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
            <sapdoc:docitem docURL="http://ERPDEV01.mo-co.org:8000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZFM_IF_SD_DELIVERY_O2O"/>
         </sapdoc:sapdoc>
      </wsdl:documentation>
      <wsp:Policy>
         <wsp:PolicyReference URI="#IF__ZFM_IF_SD_DELIVERY_O2O"/>
      </wsp:Policy>
      <wsdl:operation name="ZFM_IF_SD_DELIVERY_O2O">
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP__ZFM_IF_SD_DELIVERY_O2O"/>
         </wsp:Policy>
         <wsdl:input message="tns:ZFM_IF_SD_DELIVERY_O2O"/>
         <wsdl:output message="tns:ZFM_IF_SD_DELIVERY_O2OResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ZFM_IF_SD_DELIVERY_O2O" type="tns:ZFM_IF_SD_DELIVERY_O2O">
      <wsp:Policy>
         <wsp:PolicyReference URI="#BN__ZFM_IF_SD_DELIVERY_O2O"/>
      </wsp:Policy>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="ZFM_IF_SD_DELIVERY_O2O">
         <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFM_IF_SD_DELIVERY_O2O:ZFM_IF_SD_DELIVERY_O2ORequest" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ZFM_IF_SD_DELIVERY_O2O_soap12" type="tns:ZFM_IF_SD_DELIVERY_O2O">
      <wsp:Policy>
         <wsp:PolicyReference URI="#BN__ZFM_IF_SD_DELIVERY_O2O_soap12"/>
      </wsp:Policy>
      <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="ZFM_IF_SD_DELIVERY_O2O">
         <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFM_IF_SD_DELIVERY_O2O:ZFM_IF_SD_DELIVERY_O2ORequest" style="document"/>
         <wsdl:input>
            <wsoap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsoap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ZFM_IF_SD_DELIVERY_O2O">
      <wsdl:port name="ZFM_IF_SD_DELIVERY_O2O" binding="tns:ZFM_IF_SD_DELIVERY_O2O">
         <soap:address location="http://ERPDEV01.mo-co.org:8000/sap/bc/srt/rfc/sap/zfm_if_sd_delivery_o2o/300/zfm_if_sd_delivery_o2o/zfm_if_sd_delivery_o2o"/>
      </wsdl:port>
      <wsdl:port name="ZFM_IF_SD_DELIVERY_O2O_soap12" binding="tns:ZFM_IF_SD_DELIVERY_O2O_soap12">
         <wsoap12:address location="http://ERPDEV01.mo-co.org:8000/sap/bc/srt/rfc/sap/zfm_if_sd_delivery_o2o/300/zfm_if_sd_delivery_o2o/zfm_if_sd_delivery_o2o"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>